@import url('https://fonts.googleapis.com/css2?family=Abel&family=Baloo+2:wght@400..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC&family=Outfit:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: hsl(47, 88%, 63%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    width: 384px;
    height: 522px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid  hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0px  hsl(0, 0%, 7%);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img-area{
    width: 334px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(47, 88%, 63%);
}
.img-area img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.text-area{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.category-tag{
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 12px;
    border-radius: 4px;
    width: fit-content;
}

.publish-date{
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(0, 0%, 7%);
    margin: 0;
}

.text-area h1{
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    color: hsl(0, 0%, 7%);
    margin: 0;
}

.description{
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(0, 0%, 42%);
    margin: 0;
}

.author-area{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.author-area img{
    width: 32px;
    height: 32px;
    display: block;
}

.author-name{
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(0, 0%, 7%);
    margin: 0;
}







    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
